.spinner {
    width: 15px;
    height: 15px;
    border: 3px solid skyblue;
    border-radius: 50%;
    display: none;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.border-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 6px;

}

.error {
    color: red;
    text-align:left;
}

.hidden {
    display: none;
}

h1{
    font-family: 'Lucida Sans Unicode';
}
body{
    background-color: rgb(218, 140, 166);
}


